@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@font-face {
    font-family: 'Post No Bills Jaffna';
    src: url(../fonts/PostNoBillsJaffna-Bold.eot);
    src: url(../fonts/PostNoBillsJaffna-Bold.woff2) format('woff2'),
        url(../fonts/PostNoBillsJaffna-Bold.woff) format('woff'),
        url(../fonts/PostNoBillsJaffna-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: url(../fonts/PTSans-Regular.eot);
    src: url(../fonts/PTSans-Regular.woff2) format('woff2'),
        url(../fonts/PTSans-Regular.woff) format('woff'),
        url(../fonts/PTSans-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: url(../fonts/PTSans-Bold.eot);
    src: url(../fonts/PTSans-Bold.woff2) format('woff2'),
        url(../fonts/PTSans-Bold.woff) format('woff'),
        url(../fonts/PTSans-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair Display';
    src: url(../fonts/PlayfairDisplay-Regular.eot);
    src: url(../fonts/PlayfairDisplay-Regular.woff2) format('woff2'),
        url(../fonts/PlayfairDisplay-Regular.woff) format('woff'),
        url(../fonts/PlayfairDisplay-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair Display';
    src: url(../fonts/PlayfairDisplay-Bold.eot);
    src: url(../fonts/PlayfairDisplay-Bold.woff2) format('woff2'),
        url(../fonts/PlayfairDisplay-Bold.woff) format('woff'),
        url(../fonts/PlayfairDisplay-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}