$page-width: 1920px;
$content-width: 1040px;
$new-width: 1109px;
$background-color: #000000;
$background-color-light:#0F0F0F;
$background-color-active: #1d1d1d;
$background-color-product: #191B1C;
$background-color-modal: rgba(29, 29, 29, 0.9);

$font-stack: 'PT Sans', sans-serif;
$font-title: 'Post No Bills Jaffna', sans-serif;
$font-subtitle: 'Playfair Display', sans-serif;
$font-color-grey: #969696;
$font-color-white: #fff;
$font-color-dark-grey:  #d0d0d0;